<SimpleAssemblyExplorer.Properties.Settings>
    <setting name="ShowAbout" serializeAs="String">
        <value>False</value>
    </setting>
    <setting name="CheckUpdatePeriod" serializeAs="String">
        <value>14</value>
    </setting>
    <setting name="CheckUpdateEnabled" serializeAs="String">
        <value>True</value>
    </setting>
    <setting name="CheckUpdateLastDate" serializeAs="String">
        <value>17/01/2023 2:05:07 PM</value>
    </setting>
    <setting name="ClassEditorAutoSaveBookmarkEnabled" serializeAs="String">
        <value>True</value>
    </setting>
    <setting name="ClassEditorAutoOpenDroppedAssemblyEnabled" serializeAs="String">
        <value>True</value>
    </setting>
    <setting name="ClassEditorRichTextBoxFont" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="ClassEditorBamlTranslator" serializeAs="String">
        <value>0</value>
    </setting>
    <setting name="LastPath" serializeAs="String">
        <value>C:\Users\woof\Desktop\Netlimiter++\bin\x64\Release\New folder</value>
    </setting>
    <setting name="LastSaveDir" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="LastBinDir" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="LastRegex" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="MarkBlocks" serializeAs="String">
        <value>True</value>
    </setting>
    <setting name="SNOutputDir" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="DeobfProfile" serializeAs="String">
        <value>0</value>
    </setting>
    <setting name="DeobfOutputDir" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="DeobfFlowOptionBranchLoopCount" serializeAs="String">
        <value>2</value>
    </setting>
    <setting name="DeobfFlowOptionMaxMoveCount" serializeAs="String">
        <value>0</value>
    </setting>
    <setting name="DeobfFlowOptionMaxRefCount" serializeAs="String">
        <value>2</value>
    </setting>
    <setting name="DeobfFlowOptionBranchDirection" serializeAs="String">
        <value>0</value>
    </setting>
    <setting name="DasmOutputDir" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="DasmAdditionalOptions" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="AsmAdditionalOptions" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="PEVerifyAdditionalOptions" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="SNAdditionalOptions" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="AsmOutputDir" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="ClassEditorSaveAsDir" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="ClassEditorLastSearch" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="StrongKeyFile" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="ProfilerAppFile" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="ProfilerAppArgument" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="ProfilerAppFilter" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="ProfilerAppLogPath" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="ProfilerAppTraceEvent" serializeAs="String">
        <value>False</value>
    </setting>
    <setting name="ProfilerAppTraceParameter" serializeAs="String">
        <value>True</value>
    </setting>
    <setting name="ProfilerAppIncludeSystem" serializeAs="String">
        <value>False</value>
    </setting>
    <setting name="ProfilerASPNetFilter" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="ProfilerASPNetLogPath" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="ProfilerASPNetTraceEvent" serializeAs="String">
        <value>False</value>
    </setting>
    <setting name="ProfilerASPNetTraceParameter" serializeAs="String">
        <value>True</value>
    </setting>
    <setting name="ProfilerASPNetIncludeSystem" serializeAs="String">
        <value>False</value>
    </setting>
    <setting name="RecentPluginList" serializeAs="String">
        <value>10</value>
    </setting>
    <setting name="RecentPlugins" serializeAs="Xml">
        <value>
            <ArrayOfString>
                <string>
                </string>
            </ArrayOfString>
        </value>
    </setting>
    <setting name="de4dotRootDirectory" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="de4dotAdditionalOptions" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="Editor" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="FileDisassemblerOutputDir" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="ILMergeOutputDir" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="ILMergeStrongKeyFile" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="MethodSearcherLastSearchFor" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="MethodSearcherLogTo" serializeAs="String">
        <value>
        </value>
    </setting>
    <setting name="Reflector" serializeAs="String">
        <value>
        </value>
    </setting>
</SimpleAssemblyExplorer.Properties.Settings>
