<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <process>
      <rollForward enabled="true" />
    </process>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false" />
    <loadFromRemoteSources enabled="true" />
    <bypassTrustedAppStrongNames enabled="false" />
    <gcServer enabled="true" />
    <gcConcurrent enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Components;Components\Vendor" />
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gapotchenko.FX" publicKeyToken="a750ee378eaf756f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2022.3.12.0" newVersion="2022.3.12.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gapotchenko.FX.AppModel.Information" publicKeyToken="a750ee378eaf756f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2022.3.12.0" newVersion="2022.3.12.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gapotchenko.FX.Collections" publicKeyToken="a750ee378eaf756f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2022.3.12.0" newVersion="2022.3.12.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gapotchenko.FX.Console" publicKeyToken="a750ee378eaf756f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2022.3.12.0" newVersion="2022.3.12.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gapotchenko.FX.Diagnostics.CommandLine" publicKeyToken="a750ee378eaf756f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2022.3.12.0" newVersion="2022.3.12.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gapotchenko.FX.Diagnostics.Process" publicKeyToken="a750ee378eaf756f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2022.3.12.0" newVersion="2022.3.12.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gapotchenko.FX.IO" publicKeyToken="a750ee378eaf756f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2022.3.12.0" newVersion="2022.3.12.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gapotchenko.FX.Linq" publicKeyToken="a750ee378eaf756f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2022.3.12.0" newVersion="2022.3.12.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gapotchenko.FX.Linq.Expressions" publicKeyToken="a750ee378eaf756f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2022.3.12.0" newVersion="2022.3.12.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gapotchenko.FX.Math" publicKeyToken="a750ee378eaf756f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2022.3.12.0" newVersion="2022.3.12.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gapotchenko.FX.Numerics" publicKeyToken="a750ee378eaf756f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2022.3.12.0" newVersion="2022.3.12.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gapotchenko.Shields.NET.Targeting" publicKeyToken="a750ee378eaf756f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2022.3.1.0" newVersion="2022.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
</configuration>